<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Backend</directory>
            <directory>tests/Transport</directory>
        </testsuite>
        <testsuite name="native-smoke">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/Franken</exclude>
            <exclude>tests/Integration/PubSub</exclude>
            <exclude>tests/Integration/Spanner</exclude>
        </testsuite>
        <testsuite name="franken-smoke">
            <directory>tests/Integration/Franken</directory>
        </testsuite>
        <testsuite name="spanner-smoke">
            <directory>tests/Integration/Spanner</directory>
        </testsuite>
        <testsuite name="pubsub-smoke">
            <directory>tests/Integration/PubSub</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
